body {
  font-family: $font-family;

  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  }
}

.desktop,
.mobile {
  display: none;
}

// Mobile
@media #{$breakpoint-mobile} {
  .mobile {
    display: block;
  }
}

// Desktop
@media #{$breakpoint-desktop} {
  .desktop {
    display: block;
  }
}
