/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}


//余白
.margin-top10 { margin-top: 10px; }
.margin-top20 { margin-top: 20px; }
.margin-top30 { margin-top: 30px; }
.margin-top40 { margin-top: 40px; }
.margin-bottom10 { margin-bottom: 10px; }
.margin-bottom20 { margin-bottom: 20px; }
.margin-bottom30 { margin-bottom: 30px; }
.margin-bottom40 { margin-bottom: 40px; }
.padding-top10 { padding-top: 10px; }
.padding-top20 { padding-top: 20px; }
.padding-top30 { padding-top: 30px; }
.padding-top40 { padding-top: 40px; }
.padding-bottom10 { padding-bottom: 10px; }
.padding-bottom20 { padding-bottom: 20px; }
.padding-bottom30 { padding-bottom: 30px; }
.padding-bottom40 { padding-bottom: 40px; }

// 揃え
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.bold { font-weight: bold; }

// 横幅
.adjust-width { 
  // Mobile
  @media #{$breakpoint-mobile} {
  	width: auto;
  	max-width: 100%;
  }

  // Desktop
  @media #{$breakpoint-desktop} {
		width: auto;
  }	
}