// ==========================================================================
//
// Table of Contents
//
//  * .btn
//
// ==========================================================================

// ==================================
// .btn
// ==================================
.btn {

  &:hover {
  }

  // Position
  &.btn-left a {float: left;}
  &.btn-right a {float: right;}
  &.btn-center a {margin: 0 auto;}

  // Size
  &.btn-small a { }
  &.btn-middle a { }
  &.btn-big a { }

  // Color
  &.btn-variation1 a {
    background: #555;
    &:hover {
      background: darken(#555, 10%);
    }
  }
  &.btn-variation2 a {
    background: #888;
    &:hover {
      background: darken(#888, 10%);
    }
  }

  // Icon
  &.btn-icon-variation1 a {
    @include prepend-img("../images/common/icon-variation1.png");
  }
  &.btn-icon-variation2 a {
    @include prepend-img("../images/common/icon-variation2.png");
  }
  &.btn-icon-variation3 a {
    @include prepend-img("../images/common/icon-variation3.png");
  }
}




